.info {
	background-color: $color_accent;

	&__container {
		position: relative;
		padding-top: 95px;
		padding-bottom: 93px;

		&::before {
			content: "";
			position: absolute;
			right: 0;
			bottom: 0;
			height: 69%;
			width: 34.6%;
			background-image: url("@images/mission-decor.svg");
			background-repeat: no-repeat;
			background-size: cover;
		}
	}

	&__text {
		position: relative;
		margin: 0;
		padding-left: 7.5%;
		max-width: 776px;
		font-size: 1.33em;
		line-height: 1.33em;
		color: $color_white;

		&::after {
			content: url("@images/arrows.svg");
			position: absolute;
			top: 1px;
			left: 0;
		}
	}
}

@media (max-width: 1339px) {
	.info {
		overflow: hidden;

		&__container {
			&::before {
				bottom: 3px;
				right: -18.4%;
			}
		}

		&__text {
			padding-left: 10%;
		}
	}
}

@media (max-width: 1019px) {
	.info {
		&__container {
			padding-top: 33px;
			padding-bottom: 31px;

			&::before {
				bottom: 0px;
				right: 0%;
				height: 93%;
				width: 35%;
			}
		}

		&__text {
			padding-left: 49px;
			font-size: 0.88em;
			line-height: 1.25em;

			&::after {
				content: "";
				top: 5px;
				height: 28px;
				width: 22px;
				background-image: url("@images/arrows.svg");
				background-size: cover;
			}
		}
	}
}

@media (max-width: 699px) {
	.info {
		&__container {
			&::before {
				height: 45%;
				width: 40%;
			}
		}
		&__text {
			padding-left: 29px;
			line-height: 1.27em;

			&::after {
				top: 1px;
			}
		}
	}
}
