$container-offset: 60px;
$content-width: 1250px;
$container: $content-width;
$font-family: "Arial", sans-serif;
$font-size: 18px;

$color_black: #000000;
$color_white: #ffffff;
$color_accent: #0a3b93;
$color_bg-logo: #0a398a;
$color_bg-light: #f7eee5;
$color_text-dark: #6c5f4a;
$color_numbers: #8a7b60;
