@mixin btn() {
	display: inline-block;
	padding: 0 5px;
	height: 40px;
	border: 1px solid transparent;
	border-radius: 3px;
	font-size: 13px;
	line-height: 40px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
}

@mixin btn-cross($color: white) {
	position: absolute;

	&::after,
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: $color;
		transition: transform 0.3s ease;
	}

	&::before {
		transform: rotate(90deg);
	}

	&.is-open::after {
		transform: rotate(45deg);
	}

	&.is-open::before {
		transform: rotate(135deg);
	}
}
